<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>VTR Buildbot</title>
    <link rel="stylesheet" href="buildbot.css" type="text/css" />
      </head>
  <body class="interface">
    <div class="header">    
        <a href="index.html">Home</a>
        <a href="waterfall">Waterfall</a>
        <a href="betzgrp-pchenry.eecg.utoronto.ca:8088/view?db=~/benchtracker_data/nightly.db">Nightly QoR</a>
        <a href="grid">Grid</a>
        <a href="tgrid">T-Grid</a>
        <a href="one_box_per_builder">Builders</a>
        <a href="one_line_per_build">Recent Builds</a>
        <a href="buildslaves">Buildslaves</a>
        <a href="changes">Changesources</a>
        - <a href="about">About</a>
    </div>
    
    <hr/>
    
<div class="content">
<h1>&nbsp;The Verilog-to-Routing&nbsp;(<a href="http://code.google.com/p/vtr-verilog-to-routing/">VTR</a>)&nbsp;Buildbot</h1>

<div class="column">

<ul>
  
  <li class="alt">The <a href="waterfall">Waterfall Display</a> will give you a
  time-oriented summary of recent buildbot activity. <a href="waterfall/help">Waterfall Help.</a></li>
  
  <li class="">View benchmarks with <a href="https://github.com/lemonpi/benchtracker">Benchtracker</a>. 
        The viewers should be opened in new tabs (Ctrl + Click).
    <ul>
        <li><a href="betzgrp-pchenry.eecg.utoronto.ca:8088/view?db=basic.db">Basic QoR</a></li>
        <li><a href="betzgrp-pchenry.eecg.utoronto.ca:8088/view?db=strong.db">Strong QoR</a></li>
        <li><a href="betzgrp-pchenry.eecg.utoronto.ca:8088/view?db=nightly.db">Nightly QoR</a></li>
        <li><a href="betzgrp-pchenry.eecg.utoronto.ca:8088/view?db=weekly.db">Weekly QoR</a></li>
    </ul>
  </li>

  <li class="alt">The <a href="grid">Grid Display</a> will give you a
  developer-oriented summary of recent buildbot activity.</li>

  <li class="">The <a href="tgrid">Transposed Grid Display</a> presents
  the same information as the grid, but lists the revisions down the side.</li>

  <li class="alt">The <a href="console">Console</a> presents 
  a user-oriented status page.</li>

  <li class="">The <a href="builders">Builders</a> and their most recent builds are
  here.</li>

  <li class="alt"><a href="one_line_per_build">Recent Builds</a> are summarized here, one
  per line.</li>

  <li class=""><a href="buildslaves">Buildslave</a> information</li>

  <li class="alt"><a href="changes">Changesource</a> information.</li>

  <li class=""><a href="about">About</a> this Buildbot</li>
</ul>

</div>

</div><div class="footer" style="clear:both">
      <hr/>
      <a href="http://buildbot.net/">BuildBot</a> (0.7.12)
      working for the&nbsp;<a href="http://code.google.com/p/vtr-verilog-to-routing/">VTR</a>&nbsp;project.
    </div>
    </body>
</html>
